name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        image_tag: ["4.4.1.0-100000032025101610"]
        init_sql: ["ALTER SYSTEM ob_vector_memory_limit_percentage = 30; SET GLOBAL ob_query_timeout=100000000;"]
        test_filter: ["tests/test_hybrid_search.py::HybridSearchTest"]
        include:
          - python-version: 3.12
            image_tag: "4.3.5.3-103000092025080818"
            init_sql: "ALTER SYSTEM ob_vector_memory_limit_percentage = 30; CREATE USER 'jtuser'@'%'; GRANT SELECT, INSERT, UPDATE, DELETE ON test.* TO 'jtuser'@'%'; FLUSH PRIVILEGES;"
            test_filter: "-k \"not HybridSearchTest\""

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --dev

      - name: Lint
        run: uv run ruff check

      - name: Package build test
        run: uv build

      - name: Free disk space
        uses: kfir4444/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      - name: Start OceanBase container
        uses: oceanbase/setup-oceanbase-ce@v1
        with:
          image_name: 'oceanbase/oceanbase-ce'
          image_tag: ${{ matrix.image_tag }}
          container_name: 'observer'
          mode: 'mini'
          datafile_size: '20G'
          log_disk_size: '10G'
          init_sql: ${{ matrix.init_sql }}

      - name: Run tests
        run: |
          uv run pytest --log-cli-level=INFO ${{ matrix.test_filter }}
