name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sqlglot-version: [ "26.0.1", "27.10.0" ]

    steps:
      - name: Free disk space
        uses: kfir4444/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install Poetry
        run: |
          pip install poetry

      - name: Install dependencies
        run: |
          poetry add sqlglot==${{ matrix.sqlglot-version }}
          poetry install

      - name: Start OceanBase container
        uses: oceanbase/setup-oceanbase-ce@v1
        with:
          image_name: 'oceanbase/oceanbase-ce'
          image_tag: '4.3.5.3-103000092025080818'
          container_name: 'ob435'
          mode: 'mini'
          datafile_size: '20G'
          log_disk_size: '10G'
          init_sql: "ALTER SYSTEM ob_vector_memory_limit_percentage = 30; create user 'jtuser'@'%'; GRANT SELECT, INSERT, UPDATE, DELETE ON test.* TO 'jtuser'@'%'; FLUSH PRIVILEGES;"

      - name: Run tests
        run: |
          poetry run pytest --log-cli-level=INFO
